/*-- scss:defaults --*/

// fonts
$font-family-sans-serif: "Tahoma" !default;

// colors
$body-bg: #abdbe3 !default;
$body-color: #063970 !default;
$link-color: #51483d !default;
$selection-bg: #26351c !default;
$code-block-bg: #eeeee4 !default;

// headings
$presentation-heading-font: "Tahoma" !default;
$presentation-heading-color: #873e23 !default;